body {
  background-color: #F3F2F2;
  display: flex;
  flex-direction: column;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'iconfont';  /* project id 1626137 */
  src: url('//at.alicdn.com/t/font_1626137_hvm7lrzvpf.eot');
  src: url('//at.alicdn.com/t/font_1626137_hvm7lrzvpf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1626137_hvm7lrzvpf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1626137_hvm7lrzvpf.woff') format('woff'),
  url('//at.alicdn.com/t/font_1626137_hvm7lrzvpf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1626137_hvm7lrzvpf.svg#iconfont') format('svg');
}
